html {

    font-family: 'Open Sans', sans-serif;
}


/* color */
:root {
    --color-white: #ffffff;
    --color-light-grey: #eeeeee;


    /* font */


    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 10px;

    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;
    --weight-thin: 200
}

ul,
li {
    list-style: none;
    margin: auto;
}

* {
    margin: 0;
    padding: 0;
}

/* 탑바 시작 */
.topBar {
    width: 100%;
    height: 65px;
    background-color: var(--color-white);
    display: flex;
}

.topBar>.logo {
    width: 84px;
    padding-left: 40px;
    padding-top: 10px;
    cursor: pointer;

}

.topBar>.logo>img {
    margin: 0 auto;
}



.topBar>.menue {
    width: 100%;
    margin-left: 29%;
    display: flex;


}

.topBar>.menue>.textMenue {
    width: 700px;
    display: flex;
    margin: 0;
}

.topBar>.menue>.iconMenue {
    position: relative;
    margin-top: 18px;
    display: flex;
}

.topBar>.menue>.iconMenue>.icon {
    margin-left: 5vh;
}

.topBar>.menue>.iconMenue>.fas:last-child:last-child {
    margin-right: 0;
}


.topBar>.menue>.textMenue>p {
    font-weight: var(--weight-bold);
}

.topBar>.menue>.textMenue>li {
    margin-top: 16px;
    margin-bottom: 13px;

}

.topBar>.menue>.textMenue li:hover {
    cursor: pointer;
    transform: translateY(-5%);

}

.topBar>.menue>.iconMenue i {
    justify-content: space-between;
    margin-right: 15px;
}

.topBar>.menue>.iconMenue i:hover {
    cursor: pointer;
    transform: translateY(-5%);

}

/* top bar 끝 */

/* main Slide 시작 */

.main {

    background-color: aqua;
}

.main>.slide {
    width: 100%;
    height: 80vh;
    display: flex;



}

.main>.slide>img {
    width: 100%;

    background-image: cover;
    background-repeat: no-repeat;


}


.main>.slide .slick-dots {
    bottom: 10px;
}

.main>.slide .slick-prev {
    left: 2vh;
    z-index: 10;
}

.main>.slide .slick-next {
    right: 5vh;
    z-index: 10;
}

.main>.slide .slick-prev::before,
.main>.slide .slick-next::before {
    font-size: 40px;

}


/* 하단메뉴 시작 */

.slick-pagination{
    height: 400px;
    background-color: #ddd;
}

.slick-pagination>.menue-box{
    width: 100%;
    margin: 0 auto;
    
    text-align: center;
    
}

.slick-pagination>.menue-box>.menue>a img{
    width: 20%;
    
    
}

.menue-box .slick-dots{
    width: 500vh;
    
    border-top:1px solid #fff;
    margin:0 auto;
    position: static;
    
    
}

.menue-box .slick-dots li{
    width: 100%;
    height: auto;
    
}

.menue-box .slick-dots li span:after{
    display:block;
    width:100%;
    height:20px;
    background-color:red;
  }
  
  .menue-box .slick-dots li > span{
    display:block;
    width:100%;
  }
  .slider-wrap .slick-dots li button:before{
    
  }



/* Top up Btn

.bottomMenue>.topBtn>.btn>.fas {
    cursor: pointer;
    position: fixed;
    right:;
    bottom: 5%;
}

@media only screen and (max-width: 480px) {
	.bottomMenue>.topBtn>.btn>.fas {
		visibility: hidden;
	}
} */



/* bottom section */




/* https://codepen.io/young-yoi/pen/GRZzvqY */