/* color */
:root {
    --color-white: #ffffff;
    --color-light-grey: #eeeeee;


    /* font */

    font-family: 'Roboto', sans-serif;
    --font-large: 48px;
    --font-medium:28px;
    --font-regular:18px;
    --font-small:10px;
    
    --weight-bold:700;
    --weight-semi-bold:600;
    --weight-regular:400;
    --weight-thin:200

}

ul,
li {
    list-style: none;
    margin: auto;
}

* {
    margin: 0;
    padding: 0;
}

/* 탑바 시작 */
.topBar {
    width: 100%;
    height: 50px;
    background-color: var(--color-light-grey);
    display: flex;
}

.topBar>.logo {
    width: 84px;
    padding-left: 40px;
    padding-top: 10px;
    cursor: pointer;

}

.topBar>.logo>img {
    margin: 0 auto;
}



.topBar>.menue {
    width: 100%;
    margin-left: 400px;
    display: flex;


}

.topBar>.menue>.textMenue {
    width: 700px;
    display: flex;
    margin: 0;
}

.topBar>.menue>.iconMenue{
    width: 300px;
    margin-left: 40px;
    position: relative;
    margin-top: 18px;
    display: flex;
}

.topBar>.menue>.textMenue>p{
    font-weight: var(--weight-semi-bold);
}

.topBar>.menue>.textMenue>li {
    margin-top: 16px;
    margin-bottom: 13px;
    
}

.topBar>.menue>.textMenue li:hover{
    cursor: pointer;
    font-size:large;
}

.topBar>.menue>.iconMenue i{
    justify-content: space-between;
    margin-right: 15px;
}

.topBar>.menue>.iconMenue i:hover{
    cursor: pointer;
    
}

/* top bar 끝 */

/* main Slide 시작 */

.main{
    height: 600px;
    background-color: aqua;
}

.main>.slide{
    display: flex;

}


